.textFieldWrap {
  span {
    text-align: center;
    display: block;
  }
}

.textField {
  width: 100%;
  max-width: 100%;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 18px;
}
