@import "/styles/global.scss";

.inputWrap {
  display: flex;
  column-gap: 20px;
  row-gap: 5px;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  input {
    margin-top: 20px;
    // padding: 10px;
    border: none;
    font-size: 18px;
  }
}

.inputFIle {
  width: 100%;
  position: relative;

  input {
    display: none;
  }

  label {
    width: 100%;
    display: block;
  }
}

.uploadInner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;

  span {
    font-size: 18px;
    transition: all 0.3s linear;
    border-radius: 10px;
    padding: 20px;
    background-color: $white;
    border: 1px solid $greyNormal;

    &:hover {
      background-color: $greyNormal;
    }
  }
}
