@import "/styles/global.scss";

.buttonsWrap {
  position: relative;
}

.logInButton {
  width: 25px;
  height: 25px;
  background-image: url(/images/enter.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: transparent;

  @media only screen and (max-width: $tab) {
    width: 40px;
    height: 40px;
    order: 0;
  }
}

.logInButtonActive {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: transparent;
  background-image: url(/images/user.svg);
  border-radius: 5px;

  @media only screen and (max-width: $tab) {
    width: 40px;
    height: 40px;
  }
}

.loginMenuWrap {
  display: none;
  background-color: $greyNormal;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  width: 700%;
  padding: 20px;
  z-index: 2;
  border-radius: 10px;

  @media only screen and (max-width: $tab) {
    margin-top: 15px;
    padding: 0;
    display: flex;
    position: relative;
    transform: unset;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    font-size: 18px;
    color: $white;
    background-color: transparent;
  }
}

.buttonsWrap:hover > .loginMenuWrap {
  display: block;
}

.buttonsWrap:hover > .logInButtonActive {
  background-color: $greyNormal;

  @media only screen and (max-width: $tab) {
    background-color: inherit;
  }
}
