@import "/styles/global.scss";

.footer {
  border-top: 3px solid $grey;
  margin-top: 43px;
  padding: 30px 0;
}

.social {
  display: flex;
  column-gap: 30px;

  li {
    list-style: none;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $tab) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
  }

  .social {
    @media only screen and (max-width: $tab) {
      justify-content: center;
    }
  }
}
