@import "./global.scss";

.social {
  display: flex;
  column-gap: 30px;

  li {
    list-style: none;
  }
}

.mainSlide {
  background-color: $grey;
}

.mainSlideInner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 90px;
  gap: 100px;

  @media only screen and (max-width: $tab) {
    flex-direction: column;
  }

  @media only screen and (max-width: $mob) {
    padding: 50px 20px;
  }
}

.mainSlideTitle {
  display: flex;
  flex-direction: column;
  max-width: 354px;

  @media only screen and (max-width: $mob) {
    max-width: 100%;
    text-align: center;
  }

  .titleWrap {
    display: inline-block;
    flex-wrap: nowrap;

    h1 {
      display: block;
      align-items: center;
      justify-content: center;
      font-size: 60px;

      @media only screen and (max-width: $mob) {
        display: flex;
        flex-direction: column;
        font-size: 30px;
      }
    }
  }

  .description {
    font-size: 30px;
    margin-top: 20px;
    color: $greyDark;

    @media only screen and (max-width: $mob) {
      font-size: 20px;
    }
  }
}

.mainImage {
  z-index: 0;
}

.main {
  padding-top: 39px;

  @media only screen and (max-width: $tab) {
    padding-top: 10px;
  }
}

.mainPost {
  border: 3px solid $grey;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.2);
  column-gap: 10px;

  @media only screen and (max-width: $tab) {
    flex-direction: column-reverse;
  }
}

.textBLock {
  width: 100%;
  max-width: 460px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $tab) {
    margin-top: 20px;
    max-width: 100%;
    padding: 10px 20px;
  }

  h2 {
    font-size: 30px;

    @media only screen and (max-width: $tab) {
      text-align: center;
    }
  }
}

.textBLockDescrip {
  display: block;
  padding-top: 27px;
  color: $greyDark;
  font-size: 14px;
}

.textBLockBottom {
  display: flex;
  justify-content: space-between;
  margin: auto 10px 0;
  font-size: 12px;
  padding-top: 30px;
}

.date {
  color: $greyDark;
}

.mainPostImage {
  width: 100%;
}

.otherPosts {
  display: grid;
  margin-top: 23px;
  grid-column-gap: 33px;
  -moz-column-gap: 33px;
  column-gap: 25px;
  grid-row-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;

  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.2);
    border: 3px solid $grey;
    padding: 16px;
    border-radius: 5px;

    h3 {
      margin-top: 16px;
    }
  }
}

.otherPostDescrip {
  display: block;
  padding-top: 27px;
  color: $greyDark;
  font-size: 14px;
}

.bigPost {
  background-color: $grey;
  margin-top: 43px;
  display: flex;

  @media only screen and (max-width: $tab) {
    flex-direction: column-reverse;
  }
}

.bigPostTextBlock {
  width: 100%;
  max-width: 450px;
  padding: 95px 65px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $tab) {
    max-width: 100%;
    padding: 20px 10px 10px;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
  }
}

.bigPostDescrip {
  display: block;
  padding-top: 27px;
  color: $greyDark;
  font-size: 16px;
}

.bigPostBottom {
  font-size: 16px;
}

.seeMore {
  display: flex;
  width: 100%;
  max-width: 122px;
  font-size: 16px;
  margin: 40px 0 0 auto;
  background-color: $purple;
  padding: 9px;
  border-radius: 5px;
  color: $white;
  column-gap: 7px;
}

.footer {
  border-top: 3px solid $grey;
  margin-top: 43px;
  padding: 30px 0;
}

.footerContent {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $tab) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
  }

  .social {
    @media only screen and (max-width: $tab) {
      justify-content: center;
    }
  }
}
