/*Dispaly*/

$tab: 860px;
$mob: 560px;


/*Colors*/

/**White*/
$white: #ffffff;

/**Grey*/
$grey: #fbfbfb;
$greyNormal:#d5dce7;
$greyDark: #728197;
$greyTransparent: rgba(114, 129, 151, .5);

/**Purple*/
$purple: #6B46C1;

/**Black*/
$black: #000000;
