/*Dispaly*/

$tab: 860px;
$mob: 560px;

/*Colors*/

/**White*/
$white: #ffffff;

/**Grey*/
$grey: #fbfbfb;
$greyNormal: #d5dce7;
$greyDark: #728197;
$greyTransparent: rgba(114, 129, 151, 0.5);

/**Purple*/
$purple: #6b46c1;

/**Black*/
$black: #000000;

/*Red*/
$red: #fc6161;
